body{
    overflow: hidden;
}
header{
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
    z-index: 20;
    position: fixed;
    left: 50px;
    padding-right: 50px;
    
}
.alpha{
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 80px;
    transition: 0.5s;
}
.alpha:hover{
    transform: scale(1.05);
}
.beta{
    display: none;
    margin: 0 auto;
    width: 30%;
    min-width: 80px;
    transition: transform 0.5s;
    background-color: rgba(255,255,255,0);
}

menu{
    margin-top: 0;
    width: 100%;
    max-width: 400px;
    margin: 0;
}
menuitem{
    width: 100%;
    max-width: 185px;
}
menuitem div{
    
    padding: 10px 15px 10px 15px;
}
menuitem div:hover{
    color: #D53531;
    border: 2.3px solid #ccc;
    background-color: #ccc;
    
}
.worklink{ 
   opacity: .6;
}
.homelink{
    display: none;
}
.hover-off{
    display: none;
}
/*this media query fixes the menu when the page is sized down, should be mobile*/
@media (max-width: 680px){
   header{
        display: block;
       height: 120px;
        flex-direction: column;
        width: 90%;
        max-width: none;
        margin: 0 auto;
        margin-top: 0;
        justify-content: flex-start;
        z-index: 20;
        position: fixed;
        left: 0;
        font-size: 12px;
        padding-right: 0;
       margin-left: 5%;
       margin-right: 5%;
    }
    .hover-off{
        display: block;
        width: 100%;
        height: 100%;
        z-index: 50;
        position: fixed;
        top: 320px;
}
    .alpha{
        display: none;
    }
    .beta{
        width: 80px;
        display: inline;
        margin-top: 20px;
    }
    .beta:hover{
        cursor: pointer;
    }
    .homelink{
        display: inline;
    }
    .worklink{
        opacity: 1;
    }
    menu{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: none;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 20px;
        transition: all .7s;
    }
    .menu-position{
        margin-top: -3px;
        opacity: 1;
        display: block;
        z-index: 50;
        position: fixed;
    }
    menuitem{
        width: 100%;
        text-align: center;
        display: inline;
    }
    menuitem div{
        background-color: #ffffff;
        border: none;
    }
    menuitem + menuitem div{
        border-top: 2px solid #ccc;
    }
    menuitem div:hover{
        background-color: #ccc;
        border: none;
        border-radius: 0;
    }
    menuitem + menuitem div:hover{
        border-top: 2px solid #ccc;
    }
}



main{
    height: 100vh;
    width: 100%;
}


.process{
    position: absolute;
    top: 100vh;
    margin-top: -170px;
    right: -250px;
    z-index: 10;
    transition: opacity .4s;
    background-color: #ffffff;
    opacity: .7;
    transform: rotate(-33deg);
    width: 600px;
    height: 300px;
}
.process:hover{
    transition: all .4s;
    cursor: pointer;
    opacity: .9;
    background-color: #ffffff;
}
.process h2{
    font-size: 3.5em;
    position: absolute;
    left: 190px;
    top: 30px;
    color: #D53531;
    z-index: 11;
    transform: rotate(33deg);
    opacity: 1;
}
.process h2:hover{
    cursor: pointer;
    opacity: .8;
}
.active{
    opacity: 0.8 !important;
    background-color: #ffffff !important;
}

#process{}



/*mobile query for the work overlay page*/

    




#viewport{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -20;
}




.work-wrapper{
    margin: 0 auto;
    display: block;
    padding-top: 150px;
    overflow-y: scroll;
    height: 86vh;
  background-color: #D53531;
}
.work-wrapper h2{
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left:-70px;
    
}
.work-example{
    margin: 0 auto;
    width: 80%;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}
.work-example div{
    margin-right: 10px;
    margin-left: 10px;
    transition: all .4s;
    height: 0;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 25%, 50% 0%, 100% 25% , 100% 75%,  50% 100%, 0% 75%);
}
.work-example div:hover{
    opacity: .7;
    cursor: pointer;
}


.work-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    height: 100%;
    color: #D53531;
    overflow-y: scroll;
    display: flex;
}

.work-container{
    margin-top: 100px;
    width: 85%;
    background-color: white;
    min-height: 80vh;
    z-index: 50;
    position: absolute;
    margin-left: 7.5%;
    max-width: 1500px;
    
}

.work-container > div{
    
    display: none;
    justify-content: space-between;
}
.close{
  position: absolute;
  margin: 0;
  height: 100%;
  z-index: 49;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ccc;
  opacity: .5;
}

.close:hover{
    background-color: #ccc;
}






.detail-images{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.detail-images img{
    
    width: 100%;
    max-height: 100vh;
    max-width: 1000px;
}
.detail-text{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    max-width: 400px;
    
}
.detail-text p+p+p{
    margin-top: 50px;
    border-top: 1px solid #D53531;
    padding-top: 10px;
}
.detail-text ul{
    -webkit-padding-start: 30px;
    font-size: .88em
}


.print-container{
    width: 100vw;
    height: 100vh;
    background-color: #D53531;
    z-index: 5;
    position: absolute;
    overflow-y: scroll;
}
.print-example{
    justify-content: flex-start;
}
.print-example div{
    width: 300px;
    padding-bottom: 350px;
}
/*these media queries control the responsiveness of the hexagons on the work page*/
@media (max-width: 3600px){
    .print-example div:nth-child(9){
        margin-top: -70px;
        margin-left: 170px;
    }
}
@media (max-width: 3200px){
    .print-example div:nth-child(9){
        margin-top: -70px;
        margin-left: 10px;
    }
    .print-example div:nth-child(8){
        margin-top: -70px;
        margin-left: 170px;
    }
}
@media (max-width: 2800px){
    .print-example div:nth-child(8){
        margin-left: 10px;
    }
    .print-example div:nth-child(7){
        margin-top: -70px;
        margin-left: 170px;
    }
}
@media (max-width: 2400px){
    .print-example div:nth-child(7){
        margin-left: 10px;
    }
    .print-example div:nth-child(6){
        margin-top: -70px;
        margin-left: 170px;
    }
    .print-example div:nth-child(9){
        margin-bottom: 20px;
    }
}
@media (max-width: 2000px){
    .print-example div:nth-child(6){
        margin-left: 10px;
    }
    .print-example div:nth-child(5){
        margin-top: -70px;
        margin-left: 170px;
    }
}
@media (max-width: 1600px){
    .print-example div:nth-child(5){
        margin-left: 10px;
    }
    .print-example div:nth-child(4){
        margin-top: -70px;
        margin-left: 170px;
    }
    
}
@media (max-width: 1400px){
    
    .print-example div:nth-child(9){
        margin-top: -70px;
        margin-left: 170px;
    }
}
@media (max-width: 1200px){
    
    .print-example{
        justify-content: center;
    }
    .print-example div:nth-child(9){
        margin-top: -70px;
        margin-left: 320px;
    }
    .print-example div:nth-child(6){
        margin-top: -70px;
        margin-left: -10px;
    }
    .print-example div:nth-child(5){
        margin-right: 30px;
    }
    .print-example div:nth-child(4),
    .print-example div:nth-child(3),
    .print-example div:nth-child(2){
        margin-left: 10px;
    }
    .print-example div:nth-child(1){
        margin-left: -10px;
    }
    
}
@media (max-width: 1175px){
    .work-example{
        width: 100%;
    }
    .print-example div:nth-child(1),
    .print-example div:nth-child(6){
        margin-left: 10px;
    }
    .print-example div:nth-child(4){
        margin-left: 120px;
    }
    .print-example div:nth-child(5){
        margin-right: 130px;
    }
    .print-example div:nth-child(9){
        margin-right: 330px;
        margin-left: 10px;
    }
}
@media (max-width: 959px){
    .print-example div:nth-child(1),
    .print-example div:nth-child(6){
        margin-left: 0;
    }
    .print-example div:nth-child(9){
        margin-right: 340px;
    }
}
@media (max-width: 950px){
    
    .print-example div:nth-child(1),
    .print-example div:nth-child(5){
        margin-right: 10px;
        margin-left: 10px;
    }
    .print-example div:nth-child(2),
    .print-example div:nth-child(6){
        margin-right: 170px;
        margin-left: 10px;
    }
    .print-example div:nth-child(3),
    .print-example div:nth-child(7){
        margin-right: 10px;
        margin-left: 170px;
        margin-top: -70px;
    }
    .print-example div:nth-child(4),
    .print-example div:nth-child(8){
        margin-right: 10px;
        margin-left: 10px;
    }
    .print-example div:nth-child(9){
        margin-right: 500px;
        margin-left: 10px;
    }
}
/*-----------mobile queries----------*/
@media (max-width: 799px){ 
    body *{
         overflow-x: hidden;
    }
    .work-example{
        width: 110%;
        margin-left: -5%;
    }
}
@media (max-width: 727px){
    
    .work-example{
        width: 150%;
        margin-left: -25%;
    }
}
@media (max-width: 680px){
    .work-example{
        width: 200%;
        margin-left: -50%;
        margin-top: -200px;
    }
    .print-example div:nth-child(3),
    .print-example div:nth-child(4),
    .print-example div:nth-child(5),
    .print-example div:nth-child(6),
    .print-example div:nth-child(7),
    .print-example div:nth-child(8),
    .print-example div:nth-child(9){
        margin-top: -70px;
    }
    .print-example div:nth-child(1),
    .print-example div:nth-child(6){
        margin-right: 10px;
        margin-left: 20%;
    }
    .print-example div:nth-child(2),
    .print-example div:nth-child(7){
        margin-right: 20%;
        margin-left: 10px;
    }
    .print-example div:nth-child(3){
        margin-right: 10px;
        margin-left: 10%;
    }
    .print-example div:nth-child(4){
        margin-right: 10px;
        margin-left: 10px;
    }
    .print-example div:nth-child(5){
        margin-right: 10%;
        margin-left: 10px;
    }
    .print-example div:nth-child(8){
        margin-right: 10px;
        margin-left: 10px;
    }
    .print-example div:nth-child(9){
        margin-right: 330px;
        margin-left: 10px;
    }
}
@media (max-width: 588px){
    .work-example{
        width: 200%;
        margin-left: -50%;
        margin-top: -200px;
    }
    .print-example div:nth-child(2),
    .print-example div:nth-child(3),
    .print-example div:nth-child(4),
    .print-example div:nth-child(5),
    .print-example div:nth-child(6),
    .print-example div:nth-child(7),
    .print-example div:nth-child(8),
    .print-example div:nth-child(9){
        margin-top: -70px;
    }
    .print-example div:nth-child(1),
    .print-example div:nth-child(3),
    .print-example div:nth-child(5),
    .print-example div:nth-child(7),
    .print-example div:nth-child(9){
        margin-left: 260px;
        margin-right: 100px;
    }
    .print-example div:nth-child(2),
    .print-example div:nth-child(4),
    .print-example div:nth-child(6),
    .print-example div:nth-child(8){
        margin-left: 100px;
        margin-right: 260px;
    }
}

/*-----------------here are all the images for the thumbnails--------------*/


.print-thumb1{
    background-image: url(http://www.geizerdesign.com/img/blackfish/thumb.jpg)
}
.print-thumb2{
    background-image: url(http://www.geizerdesign.com/img/ebola/thumb.jpg)
}
.print-thumb3{
    background-image: url(http://www.geizerdesign.com/img/fall_dance/thumb.jpg)
}
.print-thumb4{
    background-image: url(http://www.geizerdesign.com/img/far_away/thumb.jpg)
}
.print-thumb5{
    background-image: url(http://www.geizerdesign.com/img/spring_dance/thumb.jpg)
}
.print-thumb6{
    background-image: url(http://www.geizerdesign.com/img/wine_tasting/thumb.jpg)
}
.print-thumb7{
    background-image: url(http://www.geizerdesign.com/img/wine_tasting/thumb.jpg)
}
.print-thumb8{
    background-image: url(http://www.geizerdesign.com/img/wine_tasting/thumb.jpg)
}
.print-thumb9{
    background-image: url(http://www.geizerdesign.com/img/wine_tasting/thumb.jpg)
}




.process-container{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1738px;
}
.process-start{
    
    width: 100%;
    margin: 0 auto;
    z-index: 7;
    margin-top: -100px;
}
.centered-textbox{
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 400px;
    width: 50%;
    display: block;
    text-align: center;
}

.space1{
    display: block;
    margin: 0 auto;
    margin-top: -711px;
    height: 50px;
}

.process-photo1{
    width: 100%;
    max-width: 1750px;
    z-index: -2;
}
#process-photo1{
    z-index: -2;
    padding-bottom: 120%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 0%, 50% 31%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
    background-image: url('http://http://lorempixel.com/400/400');
}

.space2{
    display: block;
    margin: 0 auto;
    margin-top: -630px;
    min-height: 700px;
}

.process-shape1{
    
    width: 100%;
    max-width: 1750px;
    z-index: -2;
    margin-top: -2px;
}
#process-shape1{
    
    z-index: -2;
    padding-bottom: 38%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 0%,  100% 0%,  50% 100%);
}

.wrapper{
    z-index: 15;
    position: relative;
    width: 100%;
    max-width: 1738px;
    margin-top: -70px;
    
}
.process-list{
    color: #D53531;
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    margin: 0;
}
.process-list li{
    display: flex;
}
.process-list img{
    margin-right: 10%;
    margin-left: 12%;
}
.process-steps{
    padding-right: 15%
}

.process-photo2{
    margin-top: -1100px;
    width: 100%;
    max-width: 1750px;
    z-index: -2;
}
#process-photo2{
    z-index: -2;
    padding-bottom: 120%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon( 50% 31%, 100% 0%, 100% 100%, 50% 70%);
    background-image: url('http://lorempixel.com/400/400');
    
}
.process-results{
    position: relative;
    width: 33%;
    padding-left: 12%;
    padding-right: 5%;
    margin-top: 200px;
}

.process-lower-logo{
    margin-top: 0;
    
}
.process-lower-logo svg{
    display: block;
    margin: 0 auto;
    animation: float 12s infinite;
    -webkit-animation: float 12s infinite;
}


.process-contact-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    min-height: 60vh;
    margin-top: 50px;
    width: 100%;
    justify-content: flex-start;
}
.process-contact-form div{
    display: block;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    border: 2.3px solid white;
    padding: 15px 45px 15px 45px;
   
}
.process-contact-form h2{
    font-size: 2.5em;
}
.process-contact-form a{
    margin: 0 auto;
    margin-top: 80px;
    max-width: 600px;
    display: block;
    
}
.process-contact-form div:hover{
    border-radius: 30px;
    color: #D53531;
    border: 2.3px solid #D53531;
    background-color: rgba(255,255,255, .9);
    cursor: pointer;
    
    
}

#other-sites{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 0px solid;
    padding: 0;
}
#other-sites a{
    width: 200px;
}
#other-sites: hover{
    border-radius: 30px;
    color: #D53531;
    border: 0;
    background-color: rgba(255,255,255, .0);
    cursor: ;
}
.bottom-fog{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1px;
    box-shadow: 0 -1px 20px 10px #D53531;
    z-index: 5;
    background-color: #D53531;
}

/*these media queries control the responsiveness of the process page*/
@media (max-width: 1220px){
    .process-results{
        margin-top: 50px;
    }
    .process-photo2{
        margin-top: -830px;
    }
}
@media (max-width: 880px){
    .process-results{
        margin-top: -30px;
    }
    .process-photo2{
        margin-top: -740px;
    }
}
@media (max-width: 750px){
    .process-results{
        margin-top: -30px;
    }
    .process-photo2{
        margin-top: -800px;
    }   
}

/*mobile queries for the process page*/
@media (max-width: 680px){
    .process-start{
        margin-top: -250px;
    }
    .centered-textbox{
        top: 200px;
    }
    .process-list li{
        display: flex;
    }
    .process-list img{
        margin-right: 10%;
        margin-left: 12%;
        display: none;
    }
    .process-steps{
        padding-right: 15%;
        padding-left: 15%;
    }
    .process-photo2{
        display: none;
    }
    .process-results{
        position: relative;
        width: auto;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 50px;
    }
    .process-lower-logo{
        margin-top: 100px;

    }
    .process-contact-form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        height: 50vh;
        margin-top: 50px;
        width: 100%;
        justify-content: flex-start;
    }
}
@media (max-width: 680px){
    .process-container{
        font-size: 12px;
        line-height: 20px;
    }
    
}
@media (max-width: 450px){
    .process-contact-form div{
        display: block;
        margin: 0 auto;
        transition: 0.3s ease-in-out;
        border: 2.3px solid white;
        padding: 15px 45px 15px 45px;
        border-radius: 30px;
        color: #D53531;
        border: 2.3px solid #D53531;
        background-color: rgba(255,255,255, .9);
    }
    .process-contact-form h2{
        font-size: 2em;
    }
    process-contact-form h4{
        font-size: 1.9em;
    }
}


@media (max-height: 900px){
    #categories{
        top: -100px;
    }
}
@media (max-height: 800px){
    #categories{
        top: -200px;
    }
}
@media (max-height: 700px){
    #categories{
        top: -300px;
    }
}










/*
#D53531