body{
    overflow: hidden;
}
header{
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
    z-index: 20;
    position: fixed;
    left: 50px;
    padding-right: 50px;
    
}
.alpha{
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 80px;
    transition: 0.5s;
}
.alpha:hover{
    transform: scale(1.05);
}
.beta{
    display: none;
    margin: 0 auto;
    width: 30%;
    min-width: 80px;
    transition: transform 0.5s;
}

menu{
    margin-top: 0;
    width: 100%;
    max-width: 400px;
    margin: 0;
}
menuitem{
    width: 100%;
    max-width: 185px;
}
menuitem div{
    
    padding: 10px 15px 10px 15px;
}
menuitem div:hover{
    color: #D53531;
    border: 2.3px solid #ccc;
    background-color: #ccc;
    
}
.worklink{ 
   opacity: .6;
}
.homelink{
    display: none;
}
.hover-off{
    display: none;
}
/*this media query fixes the menu when the page is sized down, should be mobile*/
@media (max-width: 680px){
   header{
        display: block;
       height: 120px;
        flex-direction: column;
        width: 90%;
        max-width: none;
        margin: 0 auto;
        margin-top: 0;
        justify-content: flex-start;
        z-index: 20;
        position: fixed;
        left: 0;
        font-size: 12px;
        padding-right: 0;
       margin-left: 5%;
       margin-right: 5%;
    }
    .hover-off{
        display: block;
        width: 100%;
        height: 100%;
        z-index: 25;
        position: fixed;
        top: 320px;
}
    .alpha{
        display: none;
    }
    .beta{
        width: 80px;
        display: inline;
        margin-top: -40px;
    }
    .beta:hover{
        cursor: pointer;
    }
    .homelink{
        display: inline;
    }
    .worklink{
        opacity: 1;
    }
    menu{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: none;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: -220px;
        transition: all .7s;
    }
    .menu-position{
        margin-top: -48px;
        opacity: 1;
        display: block;
    }
    menuitem{
        width: 100%;
        text-align: center;
        display: inline;
    }
    menuitem div{
        background-color: #ffffff;
        border: none;
    }
    menuitem + menuitem div{
        border-top: 2px solid #ccc;
    }
    menuitem div:hover{
        background-color: #ccc;
        border: none;
    }
    menuitem + menuitem div:hover{
        border-top: 2px solid #ccc;
    }
}






main{
    
    width: 100%;
}

#categories{
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 1400px;
    background-color: #ffffff;
    z-index: 10;
}
.hexagon{
    height: 100vh;
    width: 1050px;
}
.hexagon div{
    transition: all .4s;
    padding-bottom: 1050px;
    height: 0;
    background-color: #D53531;
    background-size: cover;
    background-position: center center;
}
.hexagon div:hover{
    
    transition: all .4s;
    cursor: pointer;
    opacity: .8;
}

.web{
    
    position: absolute;
    margin-left: -1050px;
    left: 70%;
}
.web h2{
    font-size: 6em;
    position: absolute;
    margin-left: 790px;
    top: 611px;
    transform: rotate(-26.5deg);
    color: #fff;
}
.print{
    
    position: relative;
    left: 70%;
    margin-left: 30px;
}
.print h2{
    font-size: 6em;
    position: absolute;
    left: 60px;
    top: 595px;
    transform: rotate(30deg);
    color: #fff;
}
.process{
    
    position: absolute;
    top: 650px;
    left: 70%;
    margin-left: -1035px;
    width: 2100px;
}
.process h2{
    font-size: 6em;
    position: absolute;
    left: 660px;
    top: 66px;
    transform: rotate(-26.5deg);
    color: #fff;
}

#web{
    
    -webkit-clip-path: polygon(100% 0%, 100% 60%, 20% 100%, 0% 100%, 0% 0%);
}
#print{
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 70% 100%, 0% 60%, 0% 0%);
}
#process{
    -webkit-clip-path: polygon(50% 0%, 100% 56%, 100% 100%, 0% 100%, 0% 50%);
}

#viewport{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -20;
}


.back-button{
    position: absolute;
    width: 900px;
    height: 300px;
    background-color: #ccc;
    z-index: 6;
    transition: 0.3s ease-in-out;
}
.back-button:hover{
    opacity: 1;
    background: #fff;
    color: #D53531;
    cursor: pointer;
}
.back-button h2{
    
    position: absolute;
    opacity: .5;
}
.back-from-web h2{  
    left: 500px;
    top: 10px;
}
.back-from-web{
    right: -190px;
    bottom: -190px;
    transform: rotate(-29deg)
}
.back-from-print{
    left: -190px;
    bottom: -190px;
    transform: rotate(29deg)
}
.back-from-print h2{
    left: 200px;
    top: 10px;
}




.work-wrapper{
    margin: 0 auto;
    display: block;
    padding-top: 150px;
    overflow-y: scroll;
    height: 86vh;
}
.work-wrapper h2{
    text-align: center;
}
.work-example{
    margin: 0 auto;
    width: 80%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}
.work-example div{
    margin-right: 10px;
    margin-left: 10px;
    transition: all .4s;
    height: 0;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 25%, 50% 0%, 100% 25% , 100% 75%,  50% 100%, 0% 75%);
}
.work-example div:hover{
    opacity: .7;
    cursor: pointer;
}



.web-container{
    
    width: 100vw;
    height: 100vh;
    background-color: #D53531;
    z-index: 5;
    position: absolute;
}
.web-example{
    justify-content: center;
}
.web-example div{
    width: 300px;
    padding-bottom: 350px;
}
.web-example div:nth-child(3){
    margin-top: -70px;
}
/*these media queries control the responsiveness of the print page*/
@media (min-width: 1200px){
    .web-example div:nth-child(3){
    margin-top: 0;
    }
}
@media (max-width: 800px){
    .work-wrapper{
        padding-top: 100px;
        height: 91vh;
    }
    .web-example div:nth-child(1) {
        margin-left:-150px; 
    }
    .web-example div:nth-child(2) {
        margin-left: 170px;
        margin-top: -70px;
    }
    .web-example div:nth-child(3) {
        margin-left:-150px; 
        margin-top: -70px;
        margin-bottom: 60px;
    }
}

.web-thumb1{
    
    background-image: url(http://lorempixel.com/300/350)
}
.web-thumb2{
    background-image: url(http://lorempixel.com/300/350)
}
.web-thumb3{
    background-image: url(http://lorempixel.com/300/350)
}


.print-container{
    
    width: 100vw;
    height: 100vh;
    background-color: #D53531;
    z-index: 5;
    position: absolute;
}
.print-example{
    justify-content: flex-start;
}
.print-example div{
    width: 200px;
    padding-bottom: 250px;
}
/*these media queries control the responsiveness of the print page*/
@media (max-width: 1650px){
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 120px;
    }
}
@media (max-width: 1380px){
    .print-example div:nth-child(5){
        margin-top: -50px;
        margin-left: 120px;
    }
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 10px;
    }
}
@media (max-width: 1100px){
    .print-example div:nth-child(4){
        margin-top: -50px;
        margin-left: 120px;
    }
    .print-example div:nth-child(5){
        margin-top: -50px;
        margin-left: 10px;
    }
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 10px;
    }
}
@media (max-width: 960px){
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 230px;
    }
}
@media (max-width: 825px){
    .back-button{
        width: 650px;
    }
    .back-from-web{
        bottom: -200px; 
    }
    .back-from-web h2{
        left: 350px; 
    }
    .print-example{
        margin-left: 20%;
    }
    .print-example div:nth-child(3){
        margin-top: -50px;
        margin-left: 120px;
    }
    .print-example div:nth-child(4){
        margin-top: -50px;
        margin-left: 10px;
    }
    .print-example div:nth-child(5){
        margin-top: -50px;
        margin-left: 10px;
    }
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 10px;
    }
}
@media (max-width: 690px){
    .work-wrapper{
        padding-top: 100px;
        height: 90vh;
    }
    .print-example{
        margin-left: auto;
    }
    .print-example div:nth-child(6){
        margin-top: -50px;
        margin-left: 120px;
        margin-bottom: 100px;
    }
}

.print-thumb1{
    background-image: url(http://lorempixel.com/300/350)
}
.print-thumb2{
    background-image: url(http://lorempixel.com/300/350)
}
.print-thumb3{
    background-image: url(http://lorempixel.com/300/350)
}
.print-thumb4{
    background-image: url(http://lorempixel.com/300/350)
}
.print-thumb5{
    background-image: url(http://lorempixel.com/300/350)
}
.print-thumb6{
    background-image: url(http://lorempixel.com/300/350)
}




.process-container{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1738px;
}
.process-start{
    
    width: 100%;
    margin: 0 auto;
    z-index: 7;
    margin-top: -100px;
}
.centered-textbox{
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 400px;
    width: 50%;
    display: block;
    text-align: center;
}

.space1{
    display: block;
    margin: 0 auto;
    margin-top: -711px;
    height: 50px;
}

.process-photo1{
    width: 100%;
    max-width: 1750px;
    z-index: -2;
}
#process-photo1{
    z-index: -2;
    padding-bottom: 120%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 0%, 50% 31%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
    background-image: url('http://geizerdesign.com/images/web-page_background.jpg');
}

.space2{
    display: block;
    margin: 0 auto;
    margin-top: -630px;
    min-height: 700px;
}

.process-shape1{
    
    width: 100%;
    max-width: 1750px;
    z-index: -2;
    margin-top: -2px;
}
#process-shape1{
    
    z-index: -2;
    padding-bottom: 38%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(0% 0%,  100% 0%,  50% 100%);
}

.wrapper{
    z-index: 15;
    position: relative;
    width: 100%;
    max-width: 1738px;
    margin-top: -70px;
    
}
.process-list{
    color: #D53531;
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    margin: 0;
}
.process-list li{
    display: flex;
}
.process-list img{
    margin-right: 10%;
    margin-left: 12%;
}
.process-steps{
    padding-right: 15%
}

.process-photo2{
    margin-top: -1100px;
    width: 100%;
    max-width: 1750px;
    z-index: -2;
}
#process-photo2{
    z-index: -2;
    padding-bottom: 120%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon( 50% 31%, 100% 0%, 100% 100%, 50% 70%);
    background-image: url('http://geizerdesign.com/images/web-page_background.jpg');
    
}
.process-results{
    position: relative;
    width: 33%;
    padding-left: 12%;
    padding-right: 5%;
    margin-top: 200px;
}

.process-lower-logo{
    margin-top: 0;
    
}
.process-lower-logo svg{
    display: block;
    margin: 0 auto;
    animation: float 12s infinite;
    -webkit-animation: float 12s infinite;
}


.process-contact-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    min-height: 60vh;
    margin-top: 50px;
    width: 100%;
    justify-content: flex-start;
}

.process-contact-form div{
    display: block;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    border: 2.3px solid white;
    padding: 15px 45px 15px 45px;
   
}
.process-contact-form h2{
    font-size: 2.5em;
}

.process-contact-form a{
    margin: 0 auto;
    margin-top: 80px;
    max-width: 600px;
    display: block;
    
}
.process-contact-form div:hover{
    border-radius: 30px;
    color: #D53531;
    border: 2.3px solid #D53531;
    background-color: rgba(255,255,255, .9);
    cursor: pointer;
    
    
}

/*these media queries control the responsiveness of the process page*/
@media (max-width: 1220px){
    .process-results{
        margin-top: 50px;
    }
    .process-photo2{
        margin-top: -830px;
    }
}
@media (max-width: 880px){
    .process-results{
        margin-top: -30px;
    }
    .process-photo2{
        margin-top: -740px;
    }
}
@media (max-width: 750px){
    .process-results{
        margin-top: -30px;
    }
    .process-photo2{
        margin-top: -800px;
    }   
}





.hidden{
    display: none !important;
}
.show{
   display: block;
}
.white{
    background-color: #fff;
}










/*
#D53531